{{template "_head.gohtml" .}}

{{$app_key := .App.Def.Meta.Key}}

<h1>{{.App.Def.Meta.Name}} {{if .App.Def.Meta.Version}}({{.App.Def.Meta.Version}}){{end}}</h1>

<table>
    <tr>
        <th>Description</th>
        <td colspan="2">{{.App.Def.Meta.Description}}</td>
    </tr>
    <tr>
        <th>Project Url</th>
        <td colspan="2"><a target="_blank" href="{{.App.Def.Meta.ProjectUrl}}">{{.App.Def.Meta.ProjectUrl}}</a></td>
    </tr>
    <tr>
        <th>Autostart</th>
        {{if .App.Conf.AutostartEnabled}}
            <td style="background-color: #228b22">
                ENABLED
            </td>
        {{else}}
            <td style="background-color: #f44336">
                DISABLED
            </td>
        {{end}}
        <td>
            <form method="post">
                {{if .App.Conf.AutostartEnabled}}
                    <input type="hidden" name="action" value="disable_autostart"/>
                    <input type="submit" value="Disable"/>
                {{else}}
                    <input type="hidden" name="action" value="enable_autostart"/>
                    <input type="submit" value="Enable"/>
                {{end}}
            </form>
        </td>
    </tr>
    <tr>
        <th>Status</th>
        {{if .App.IsRunning}}
            <td style="background-color: #228b22">
                RUNNING
            </td>
        {{else}}
            <td style="background-color: #f44336">
                STOPPED
            </td>
        {{end}}
        <td>
            <form method="post">
                {{if .App.IsRunning}}
                    <input type="hidden" name="action" value="stop"/>
                    <input type="submit" value="Stop"/>
                {{else}}
                    <input type="hidden" name="action" value="start"/>
                    <input type="submit" value="Start"/>
                {{end}}
            </form>
        </td>
    </tr>
</table>

<h2>Configs</h2>

{{range $key, $conf := .App.ConfigFiles}}
    <h3>{{$conf.Name}}</h3>
    {{if $conf.Example}}
        <a href="/apps/{{$app_key}}/example_conf/{{$key}}" target="_blank">Example Config</a>
    {{end}}

    <form method="post">
        <label>
            <textarea name="config" style="font-family: monospace;" rows="20" cols="80">{{$conf.Read}}</textarea>
        </label>
        <br/>
        <input type="hidden" name="action" value="update_config"/>
        <input type="hidden" name="config_key" value="{{$key}}"/>
        <input type="submit" value="Save"/>
    </form>
{{end}}

<h2>Log</h2>

<table>
    <tr>
        <td>
            {{$log := .App.Log}}
            {{if $log}}
                <pre>{{$log}}</pre>
            {{else}}
                no log
            {{end}}
        </td>
    </tr>
</table>

{{template "_footer.gohtml" .}}