{{template "_head.gohtml" .}}

<h1>Applications</h1>

<table>
    <thead>
    <tr>
        <th>
            App
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
    </tr>
    </thead>
    <tbody>
    {{range $key, $app := .Apps}}
    <tr>
        <th>
            <a href="/apps/{{$key}}">
                {{$app.Def.Meta.Name}} {{if $app.Def.Meta.Version}}({{$app.Def.Meta.Version}}){{end}}
            </a>
        </th>
        <td>
            {{$app.Def.Meta.Description}}
        </td>
        {{if $app.IsRunning}}
            <td style="background-color: #228b22">
                RUNNING
            </td>
        {{else}}
            <td style="background-color: #f44336">
                STOPPED
            </td>
        {{end}}
    </tr>
    {{end}}

    </tbody>

</table>

{{template "_footer.gohtml" .}}
