{{template "_head.gohtml" .}}

<h1>System Settings</h1>

<h2>Network</h2>
<form method="post">
    <input type="hidden" name="action" value="update_network"/>

    <label for="dhcp_enabled">DHCP:
        {{if .Network.IsStatic}}
            <input type="checkbox" id="dhcp_enabled" name="dhcp"/>
        {{else}}
            <input type="checkbox" id="dhcp_enabled" name="dhcp" checked="checked"/>
        {{end}}
    </label><br/><br/>

    <label for="address">Address:</label><br/>
    <input type="text" id="address" name="address" value="{{.Network.Address}}"><br/>
    <label for="netmask">Netmask:</label><br/>
    <input type="text" id="netmask" name="netmask" value="{{.Network.Netmask}}"><br/>
    <label for="gateway">Gateway:</label><br/>
    <input type="text" id="gateway" name="gateway" value="{{.Network.Gateway}}"><br/><br/>
    <input type="submit" value="Update"/>
</form><br/>

<h2>Root Password</h2>
<form method="post">
    <input type="hidden" name="action" value="update_password"/>

    <label for="password1">Password:</label><br/>
    <input type="password" id="password1" name="password1"><br/>
    <label for="password2">Password repeat:</label><br/>
    <input type="password" id="password2" name="password2"><br/><br/>
    <input type="submit" value="Update"/>
</form><br/>

<h2>SSH Server</h2>
<form method="post">
    <input type="hidden" name="action" value="update_ssh"/>

    <label for="ssh_enabled">Enable:
        {{if .SshEnabled}}
        <input type="checkbox" id="ssh_enabled" name="enabled" checked="checked"/>
        {{else}}
        <input type="checkbox" id="ssh_enabled" name="enabled"/>
        {{end}}
    </label><br/><br/>
    <input type="submit" value="Update"/>
</form><br/>

<h2>Time Zone</h2>
<form method="post">
    <input type="hidden" name="action" value="update_time_zone"/>
    <label>
        Time Zone
        <select name="time_zone">
            {{$activeTimeZone := .ActiveTimeZone}}
            {{range .TimeZones}}
                {{if eq $activeTimeZone .}}
                    <option value="{{.}}" selected="selected">{{.}}</option>
                {{else}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            {{end}}
        </select>
    </label><br/><br/>
    <input type="submit" value="Update"/>
</form><br/>

<h2>Restart</h2>
<form method="post">
    <input type="hidden" name="action" value="reboot"/>
    <input type="submit" value="Reboot"/>
</form>
<form method="post">
    <input type="hidden" name="action" value="shutdown"/>
    <input type="submit" value="Shutdown"/>
</form><br/>

{{template "_footer.gohtml" .}}
