{{template "_head.gohtml" .}}

<h1>Confirm Update</h1>

<table>
    <tr>
        <th>Image name</th>
        <td>{{.ImageName}}</td>
    </tr>
    <tr>
        <th>Checksum</th>
        <td>{{.Checksum}}</td>
    </tr>
</table>

<br/>

<form method="post">
    <input type="submit" value="Update"/>
</form>

{{template "_footer.gohtml" .}}
